*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#fetch-img{
    position: absolute;
    left: 45%;
    top: 50px;
    cursor: pointer;
}

#dog-img{
    position: absolute;
    left: 25%;
    top: 80px;
    height: 500px;
    width: 500px;
}